<div class="jumbotron">
    <h1>Редактирование категорий</h1>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <a href="/admin" class="btn btn-success pull-right">Редактирование рецептов</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <?php
            if ($this->messages){
                echo '<ul>';
                foreach($this->messages as $message)
                {
                    echo '<li class="text-danger">'.$message.'</li>';
                }
                echo '</ul>';
            }
        ?>
    </div>
</div>
<br>
<div class="row">
    <?php foreach ($categories as $Category):?>
        <div class="col-sm-6">
            <form class="form-horizontal well" action="/category/edit" method="post">
                <input type="text" value="<?=$Category->id?>" name="category[id]" class="form-control hidden" placeholder="Заголовок рецепта">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Название категории</label>
                    <div class="col-sm-8">
                        <input type="text" value="<?=$Category->name?>" name="category[name]" class="form-control" placeholder="Заголовок рецепта">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="/category/delete?id=<?=$Category->id?>" class="btn btn-warning">Удалить</a>
                    </div>
                </div>
            </form>
        </div>
    <?php endforeach?>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal well clearfix" action="/category/create" method="post">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Название категории</label>
                    <div class="col-sm-8">
                        <input type="text" name="category[name]" class="form-control" placeholder="Название категории">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
