<div class="jumbotron">
    <h1>Редактирование рецепта</h1>
    <h2>"<?=$data['recipe_title']?>"</h2>
</div>
<br>
<br>
<div class="row">
    <div class="col-sm-12">
        <?php
            if ($this->messages){
                echo '<ul>';
                foreach($this->messages as $message)
                {
                    echo '<li class="text-danger">'.$message.'</li>';
                }
                echo '</ul>';
            }
        ?>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal well" action="/admin/edit" method="post">
            <input type="text" value="<?=$data['id']?>" name="recipe[id]" class="form-control hidden" placeholder="Заголовок рецепта">
            <div class="form-group">
                <label class="col-sm-2 control-label">Заголовок рецепта</label>
                <div class="col-sm-10">
                    <input type="text" value="<?=$data['recipe_title']?>" name="recipe[recipe_title]" class="form-control" placeholder="Заголовок рецепта">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Текст рецепта</label>
                <div class="col-sm-10">
                    <textarea name="recipe[recipe_text]" class="form-control" placeholder="Текст рецепта"><?=$data['recipe_text']?></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Категория</label>
                <div class="col-sm-10">
                    <select class="form-control" name="recipe[category_id]">
                        <?php foreach ($categories as  $Category):?>
                            <option <?=($data['category_id'] == $Category->id) ? 'selected' : ''?> value="<?=$Category->id?>"><?=$Category->name?></option>
                        <?php endforeach?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a href="/admin/delete?id=<?=$data['id']?>" class="btn btn-warning">Удалить</a>
                </div>
            </div>
        </form>
    </div>
</div>
