<div class="jumbotron">
    <h1>Рецепты</h1>
</div>
<div class="row">
    <div class="col-sm-9">
        <form class="form-inline search_form">
            <div class="form-group">
                <input class="form-control" id="search" placeholder="Поиск">
            </div>
            <button class="btn btn-primary js_clear">Сбросить</button>
            <button type="submit" class="btn btn-success js_search">Искать</button>
        </form>
    </div>
    <div class="col-sm-3">
        <a href="/admin/category" class="btn btn-success pull-right">Редактирование категорий</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <?php
            if ($this->messages){
                echo '<ul>';
                foreach($this->messages as $message)
                {
                    echo '<li class="text-danger">'.$message.'</li>';
                }
                echo '</ul>';
            }
        ?>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal well" action="/admin/create" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">Заголовок рецепта</label>
                <div class="col-sm-10">
                    <input type="text" name="recipe[recipe_title]" class="form-control" placeholder="Заголовок рецепта">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Текст рецепта</label>
                <div class="col-sm-10">
                    <textarea name="recipe[recipe_text]" class="form-control" placeholder="Текст рецепта"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Категория</label>
                <div class="col-sm-10">
                    <select class="form-control" name="recipe[category_id]">
                        <?php foreach ($categories as  $Category):?>
                            <option value="<?=$Category->id?>"><?=$Category->name?></option>
                        <?php endforeach?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row recipies-list">
</div>
<div>
    <h3 class="text-waring hidden js_nothing">Ничего не найдено</h3>
</div>
