<?php echo $this->doctype(); ?>

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('Рецепты'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap.min.css')) ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/bower/jquery/dist/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.min.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath('img/zf2-logo.png') ?>" alt="Рецепты ZF2"/>&nbsp;<?php echo $this->translate('Рецепты ZF2') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Главная') ?></a></li>
                        <?php if($this->isAdmin):?>
                        <li><a href="<?php echo $this->url('admin') ?>"><?php echo $this->translate('Админка') ?></a></li>
                        <li class="pull-rigth"><a href="<?php echo $this->url('login/process', array('action'=>'logout')); ?>">Выйти</a></li>
                    <?php endif?>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container recipeapp">
            <?php echo $this->content;?>
            <hr>
            <footer>
                <p>&copy; 2005 - <?php echo date('Y') ?> by Zend Technologies Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
            <script type="text/template" id="recipe-template">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                            <%= recipe_title %>
                            <span class="pull-right">Категория: <%= category %></span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <%=recipe_text %>
                            </p>
                        </div>
                        <?php if($this->isAdmin):?>
                            <div class="panel-footer text-right">
                                <a href="/admin/edit?id=<%= id %>" class="js_edit"><span>Редкатировать</span></a>
                                <a href="/admin/delete?id=<%= id %>" class="js_delete"><span>Удалить</span></a>
                            </div>
                        <?php endif?>
                    </div>
                </div>
            </script>
        </div> <!-- /container -->
        <?php echo $this->inlineScript()
            ->appendFile($this->basePath('js/bower/underscore/underscore-min.js'))
            ->appendFile($this->basePath('js/bower/components-backbone/backbone.js'))
            ->appendFile($this->basePath('js/models/recipe.js'))
            ->appendFile($this->basePath('js/collections/recipies.js'))
            ->appendFile($this->basePath('js/views/recipe-view.js'))
            ->appendFile($this->basePath('js/views/app-view.js'))
            ->appendFile($this->basePath('js/routers/router.js'))
            ->appendFile($this->basePath('js/bower/backbone-forms/distribution/backbone-forms.min.js'))
            ->appendFile($this->basePath('js/app.js'))
        ;?>
    </body>
</html>
