<div class="jumbotron">
    <h1>Рецепты</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline search_form">
            <div class="form-group">
                <input class="form-control" id="search" placeholder="Поиск">
            </div>
            <button class="btn btn-primary js_clear">Сбросить</button>
            <button type="submit" class="btn btn-success js_search">Искать</button>
        </form>
    </div>
</div>
<br>
<div class="row recipies-list">
</div>
<div>
    <h3 class="text-waring hidden js_nothing">Ничего не найдено</h3>
</div>
<script type="text/template" id="recipe-template">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                <%= recipe_title %>
                <span class="pull-right">Категория: <%= category %></span>
                </h3>
            </div>
            <div class="panel-body">
                <p><%= recipe_text %></p>
            </div>
        </div>
    </div>
</script>
